
//reset
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
//import
@import "../scss/html/index";
@import"../scss/html/productos";
@import"../scss/html/galeria";
@import "../scss/html/sobrenosotros";
@import"../scss/html/consultas";






