 $color-principal: #f792a3;
 $fuente-principal: Arial, Helvetica, sans-serif;
 $color-imgmain:drop-shadow(10px 10px 10px rgb(128, 68, 68));
 $color-contactwrapper: box-shadow 00 20px 0 rgba(255, 255, 255, .3);



 